{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-5">LISTADO DE PERSONAS</h1>
{% endblock %}

{% block contenido_que_cambia %}

<h4>{{ mensaje }}</h4>

<ul>
    <h1>LISTADO DE PERSONAS</h1>

    {% for persona in personas %}
    <li><h3>{{ persona.nombre }} {{ persona.apellido }} | {{ persona.email }} - {{ persona.fechaNacimiento }}</h3></li>

    <a class="btn btn-success" href="{% url 'editarPersona' persona.id %}">Editar Persona - {{ persona }} </a>
    <a class="btn btn-danger" href="{% url 'eliminarPersona' persona.id %}">Eliminar Persona - {{ persona }}</a>

    
    {% endfor %}


</ul>

<a class="btn btn-primary" href="{% url 'agregarPersona' %}">Agregar Persona</a>


{% endblock %}